
body{
    margin: 0px;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1.5 rem;
    margin: 0px 20px;
}

.header h1{
    font: 24px extra-bold;
    
}

.header ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header li{
    margin-left: 2rem;
    color: #e5e7eb;
}

.hero{
    display: flex;
    justify-content: space-around;
    margin: 25px 20px;
}

.hero h2{
    font-size: 48px;
    margin-bottom: 0;
    font-weight: bolder;
}

.hero p{
    font-size: 18px;
}

#headerButton{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 25%;
    font-size: 18px;
}

.heroImg{
    width: 40%;
}

.section2{
    margin: 100px 75px;
}
.section2 h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.section2 img{
    margin-top: 50px;
    width: 150px;
    height:150px;
    border-radius: 35px;
}

.section2Imgs, .section2Captions{
    display: flex;
    justify-content: space-around;
    margin: 0 150px;

}

.section2Captions p{
    text-align: center;
}

.section3{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    background-color: #E5E7EB;
    padding: 150px 250px;
}

.section3 p{
    display: block;
    text-align: center;
}

.section4{
    height: 200px;
}

.signUpBox{
    background-color: #3882F6;
    margin: 100px 100px;
    height: 125px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

#firstLine{
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

#secondLine{
    color: #E5E7EB;
    margin: 0;
}

.signUpBox button{
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border-style:solid;
    border-color: #f9faf8;
    height: 30px;
    width: 100px;
    font-size: 18px;
}

footer{
    text-align: center;
    color: #e5e7eb;
    background-color: #1f2937;
    padding: 40px;
}

ul{
    list-style: none;
}

img{
    width:100%;
    height: auto;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}